.app__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;
  background-color: var(--secondary-color);

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}
.primary_button {
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: rgba(232, 67, 147, 0.6);
  }
  &:disabled {
    background-color: rgba(232, 67, 147, 0.4);
    cursor: no-drop;
  }
}
.primary_button.active {
  background-color: var(--white-color);
  color: var(--gray-color);
}
.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}
.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}
form {
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label {
      margin-bottom: 5px;
    }
    input,
    textarea {
      outline: none;
      border: none;
      background-color: rgba($color: #130f40, $alpha: 0.5);
      padding: 10px 5px;
      border-radius: 5px;
      color: var(--white-color);
      font-size: 0.9rem;
      line-height: 1.5;
      width: 100%;
      transition: all 0.3s ease-in-out;
      &:hover,
      &:focus {
        box-shadow: var(--primary-shadow);
      }
    }
  }
}
//modal css
.app__modal-bg {
  position: fixed;
  background-color: var(--gray-color);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__modal {
  margin: 1rem;
  background: var(--white-color);
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem 1rem;
  transition: all 0.3s ease-in-out;
  width: 400px;
  position: relative;
  .modal-title h6 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  svg {
    width: 35px;
    height: 35px;
    color: var(--secondary-color);
    margin: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
  .modal-footer button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

.app__contact {
  flex: 1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__contact-form {
  width: 350px;
  margin: 1rem;
  background: var(--white-color);
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
