.app__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;
  background-color: var(--secondary-color);

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}
.primary_button {
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  color: var(--black-color);
  cursor: pointer;
  &:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
}
