.app__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;
  background-color: var(--secondary-color);

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}
.primary_button {
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  color: var(--black-color);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
}
.primary_button.active {
  background-color: var(--secondary-color);
  color: var(--white-color);
  &:hover {
    background-color: var(--white-color);
    color: var(--black-color);
  }
}
.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}
